body {
    align-content: center;
  
    padding: 20px;
    margin: 10px;
}

#container {
    align-content: center;
 background: lightcoral;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 10px;

}

.btn-group {
    padding: 5px;
}

button {
    margin: 10px;
    font-size: 24px;
    border-style: dashed;
}

input {
    height: 50px;
    width: 300px;
    font-size: 35px;
    border-style: grey dashed;
}

#gifs{
    margin: 50px;
    font-size: 34px;
}