body {
    align-content: center;
    color:black;
    padding: 20px;
    margin: 10px;
}

#container {
    align-content: center;
 background: lightcoral;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 10px;

}

.btn-group {
    padding: 5px;
}

